extends ../base/layout
include ../mixins/news

block data
  include ../data/placeholder
  include ../data/news

block variables
  - var title = "ProjectName — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "main" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section
      .container
        h1(style="margin-top: 40px;") Пример вызова модалок
        p
          a(href="#", data-modal="feedback") modal--feedback link
        p
          a(href="#", data-modal="success") modal--success link

        p(style="margin-top: 40px;") Пример импорта из `pug/data`
        h2= heading.title
        i= heading.description

    section
      .container
        h2 Новости
        +news(newsList)


block modals
  +modal("modal--feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")
    +modal-success()
