mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      p(style="margin-top: 40px;") Текст&nbsp;с&nbsp;мнемониками

      p(style="margin-top: 40px;") Пример использования +img()
      p(style="margin-bottom: 40px;")
        +img("content", "placeholder", "png", 120, 120, "Пример")
