{
  "extends": "stylelint-config-htmlacademy",

  "overrides": [
    {
      "files": "**/*.scss",
      "customSyntax": "postcss-scss"
    }
  ],

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "max-nesting-depth": [4, {"ignoreAtRules": ["media", "include"]}],
    "function-no-unknown": null,
    "at-rule-no-unknown": null
  }
}
