body {
  width: 100%;
  height: 100%;

  font: 400 16px/24px $font-family--primary;
  color: $black;

  background-color: $white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opened-menu {

}

main {

}
