mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "#",
        text: "Страница 1"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .header__wrapper.container
      if(currentPage === "main")
        a.header__logo Логотип
      else
        a.header__logo(href="main.html", aria-label="Переход на главную") Логотип
      nav.main-nav
        button.js-close-menu.close-menu
        button.main-nav__toggle.js-menu(type="button", aria-label="Переключатель отображения меню", aria-pressed="false").icon-burger
          span
        .main-nav__wrapper
          ul.main-nav__list
            each link, index in headerLinks
              if(index === currentPage)
                li
                  a.main-nav__link.main-nav__link--active=link.text
              else
                li
                  a.main-nav__link(href=link.href)=link.text
