mixin modal(mods)
  .modal.modal--preload(class=mods)&attributes(attributes)
    .modal__wrapper
      .modal__overlay(data-close-modal)
      .modal__content
        if block
          block
        button.modal__close-btn(type="button", aria-label="Закрыть попап", data-close-modal)
          +icon("icon-close", 15, 15)
