.sitemap {
  padding-top: 50px;
  padding-bottom: 50px;
  color: $color-accent-second;

  h1 {
    font-size: 22px;
    line-height: 30px;
    color: $color-accent-main;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: page;
  }

  ul {
    overflow: hidden;
    counter-reset: inner-page;
  }

  li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }

    &::before {
      font-size: 16px;
      line-height: 24px;
      margin: 0 5px 0 0;
      content: counter(page) ". ";
      counter-increment: page;
    }
  }

  div {
    width: 100%;
  }

  input + div {
    display: grid;
    padding: 0 0 0 20px;
    transition: grid-template-rows $trans-default, padding $trans-default;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;
  }

  input:checked + div {
    padding: 10px 0 0 20px;
    grid-template-rows: 1fr;
  }

  ul > li {
    overflow: hidden;

    &::before {
      font-size: 16px;
      line-height: 24px;
      margin: 0 5px 0 0;
      content: counter(inner-page) ". ";
      counter-increment: inner-page;
    }
  }

  a {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: flex;
    color: inherit;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      transition: opacity $trans-default;
      opacity: 0;
      background-color: $color-accent-main;
    }

    @include hover-focus {
      &::before {
        opacity: 1;
      }
    }
  }

  label {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.6;
    }

    &::after {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: -5px 0 0 20px;
      content: "";
      transform: rotate(45deg);
      border: 1px solid $color-accent-main;
      border-top: none;
      border-left: none;
      flex-shrink: 0;
    }
  }
}
