// Colors
//---------------------------------

// Colors
$black: #222222;

$gray--light: #c7c7c7;
$gray: #999999;
$gray--dark: #585858;

$white: #ffffff;

$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;


// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--primary: "OpenSans", "Arial", sans-serif;
$font-family--rouble: "Rouble", "Arial", sans-serif;

// Animation
//---------------------------------

$transition:               0.3s ease;
$transition--long:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      480px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
