block variables
  -
    const newsList = [
      {
        title: 'Тренировка «управляемого падения» для увеличения силы отталкивания лыжными палками',
        date: '2 мая',
        datetime: '2018-05-02',
        link: '#',
        path: 'content',
        image: 'placeholder',
        format: 'jpg',
        width: 309,
        height: 169,
        altText: 'Лыжник несется по склону.',
      },
      {
        title: 'Открытые пространства и тренировки на свежем воздухе помогут расширить собственные горизонты',
        date: '21 апреля',
        datetime: '2018-04-21',
        link: '#',
        path: 'content',
        image: 'placeholder',
        format: 'jpg',
        width: 309,
        height: 168,
        altText: 'Зеленый лес.',
      },
      {
        title: 'Открытые пространства и тренировки на свежем воздухе помогут расширить собственные горизонты',
        date: '21 апреля',
        datetime: '2018-04-21',
        link: '#',
        path: 'content',
        image: 'placeholder',
        format: 'jpg',
        width: 309,
        height: 170,
        altText: 'Девушка пьет воду.',
      }
    ]
