mixin icon(name, width, height)
  svg(width=width, height=height, aria-hidden="true")&attributes(attributes)
    use(xlink:href="#" + name)

//- &attributes(attributes) позволяет вызывать миксин с доп классом и аттрибутами
//- +icon("icon-close", 15, 15).some-class
